@font-face {
	font-family: "SIMPLIFICA";
	src: local("SIMPLIFICA"), url("../fonts/SIMPLIFICA.woff2") format("woff2"), url("../fonts/SIMPLIFICA.woff") format("woff");
	font-style: normal;
	font-display: swap;
}

/* normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* global */
:root {
	--main-bg-color: #ffcd18c9;
	--card-bg-color: #63bbff;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: var(--main-bg-color);
	font-family: 'SIMPLIFICA', sans-serif;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* game */
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.couple-title {
	margin-bottom: 20px;
	letter-spacing: 15px;
	text-align: center;
	text-shadow: 5px 5px #d6ba31;
	font-size: 45px;
	color: #000000db;
}

.couple-game {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	margin: auto auto 200px;
	perspective: 1000px;
}

.couple-card {
	position: relative;
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	border-radius: 5px;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.couple-card:active {
	transform: scale(0.97);
	transition: transform .2s ease-in-out;
}

.front-face,
.back-face {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: var(--card-bg-color);
	border-radius: 5px;
	backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
	transition: transform .2s ease-in-out;
}

.flip {
	transform: rotateY(180deg);
}

.button-wrap {
	text-align: center;
}

.btn {
	margin-bottom: 20px;
	padding: 20px;
	font-weight: 600;
	border: 2px solid black;
	border-radius: 30px;
	visibility: hidden;
	opacity: 0.8;
	transition: opacity .2s ease-in-out;
}

.btn:hover {
	opacity: 1;
}

.btn:active {
	transform: translateY(1px);
	transition: transform .2s ease;
}

.btn-visible {
	visibility: visible;
}

@media (max-width: 600px) {
	.container {
		max-width: 570px;
	}

	.couple-title {
		margin-bottom: 10px;
		font-size: 3em;
		letter-spacing: 10px;
	}

	.couple-game {
		margin-bottom: 170px;
	}

	.couple-card {
		width: calc(30% + 5px);
		height: calc(30% - 5px);
	}

	.couple-card[data-framework='css'] {
		display: none;
	}

	.couple-card[data-framework='html'] {
		display: none;
	}

	.btn {
		padding: 25px;
		border-radius: 50px;
		font-size: 1em;
		color: black;
	}
}